@model Guestbook.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form id="PagePicker">
        @if (Model.currentPage > 0)
        {
            <a class="bordered" href=@Url.Action("Index", "Home", new { page = @Model.currentPage-1 })>&laquo; previous</a>
        }
        else
        {
            <a class="bordered hidden" href=@Url.Action("Index", "Home", new { page = @Model.currentPage-1 })>&laquo; previous</a>
        }
        <input class="bordered" type="number" min="0" max="@Model.pageCount-1" id="pageNumber" name="pageNumber" value="@Model.currentPage">
        <button class="bordered" type="button" onclick="GoToPage(@Model.pageCount)">Go</button>
        @if (Model.currentPage < Model.pageCount-1)
        {
            <a class="bordered" href=@Url.Action("Index", "Home", new { page = @Model.currentPage+1 })>next &raquo;</a>
        }
        else
        {
            <a class="bordered hidden" href=@Url.Action("Index", "Home", new { page = @Model.currentPage+1 })>next &raquo;</a>
        }
    </form>

    @foreach (var entry in Model.entries)
    {
        @await Html.PartialAsync("_Post", entry);
    }

    <div id="WritePostContainer">
        <a class="bordered" href=@Url.Action("Create", "Home")>Write a post</a>
    </div>
</div>
